.main-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #db4444;
  border-radius: 4px;
  height: 56px;
  width: 254px;
  border: none;
  margin-top: 80px;
  margin-bottom: 140px;
  cursor: pointer;
}

.main-button-small {
  height: 44px;
  width: 165px;
  margin-top: 24px;
  margin-bottom: 0;
}

.main-button-title {
  color: #fafafa;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
}
