@media (max-width: 600px) {
  header {
    flex-direction: column;
    align-items: center;
    border-bottom: none !important;
  }

  nav {
    align-self: stretch;
    background-color: #f5f5f5;
    z-index: 1;
  }

  .navlist-vertical {
    width: auto !important;
    padding-left: 0px;
    flex-direction: column;
    align-items: center;
    margin-left: 0px !important;
    display: none;
  }

  li {
    height: 30px !important;
  }

  h2 {
    margin-left: 30px;
  }

  button {
    display: block !important;
    margin-right: 30px;
  }

  #titleAndButtonContainer {
    border-bottom: 1px solid black;
  }
}

@media (min-width: 601px) {
  .navlist-horizontal {
    width: 367px;
    padding-left: 0px;
    margin-right: 135px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  h2 {
    margin-left: 135px;
  }
}

header {
  height: 70px;
  width: '100%';
  margin-top: 24px;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
}

nav {
  display: inline-block;
}

li {
  display: inline-block;
  height: auto;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 24px;
}

a {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
}

button {
  display: none;
  background-color: white;
  border: none;
}

#titleAndButtonContainer {
  height: 70px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navlist-shown {
  display: flex;
}
