@use '../mixins' as *;

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: none;
  position: sticky;

  @include responsive-desktop {
    height: 70px;
    width: '100%';
    border-bottom: 1px solid black;
    flex-direction: row;
  }
}

.navigation {
  align-self: stretch;
  background-color: #f5f5f5;
  width: 100%;
  position: absolute;
  z-index: 10;
  top: 70px;

  @include responsive-desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    background-color: white;
    top: 0px;
  }
}

.navlist-item {
  height: 30px;

  @include responsive-desktop {
    display: inline-block;
    height: auto;
  }
}

.brand-text {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-left: 30px;

  @include responsive-desktop {
    margin-left: 135px;
  }
}

a {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
}

.titleAndButtonContainer {
  height: 70px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;

  @include responsive-desktop {
    border-bottom: none;
  }
}

.navlist-shown {
  display: flex !important;
}

.navlist {
  width: auto;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  list-style-type: none;

  @include responsive-desktop {
    width: 367px;
    display: flex;
    flex-direction: row;
    margin-right: 135px;
  }
}
