@use '../mixins' as *;

.mainSubscribeContainer {
  background-color: black;
  border-radius: 4px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-right: 17px;
  margin-top: 16px;
  border: 1.5px solid #fafafa;
  // position: absolute;
  // top: 65px;
  // left: 10px;
  // right: 10px;

  @include responsive-desktop {
    position: relative;
    width: 217px;
    // margin-right: 18px;
    // top: auto;
    // left: auto;
    // right: auto;
  }
}

.subscribeInput {
  border: none;
  background-color: black;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fafafa;
  width: 150px;
}

.subscribeInput:focus {
  outline: none;
}
